<div class="face-snap-card" [ngClass]="{snapped : buttonText === 'Remove Snap'}">
  <h2>{{ faceSnap.title.toString()| uppercase }}</h2>
  <p>Mis en ligne {{ faceSnap.createDate | date : 'longDate' }}</p>
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
  <p>{{ faceSnap.description }}</p>
  <p *ngIf="faceSnap.location"> Photo prise à {{ faceSnap.location }} </p>
  <p>
    {{ 125.5 | currency:'EUR':'code' }}
  </p>
  <p>
    <button (click)="onSnap()"> {{ buttonText }} </button>
    <span [ngStyle]="{ color:'rgb(0,'+ faceSnap.snaps +', 0)' }"> 👍{{ faceSnap.snaps }} </span>
  </p>
</div>
