header{
  text-align: center;
  background-color: #EEE;
  margin-bottom: 20px;
  padding: 10px;
  font-family: "Space Grotesk Light", sans-serif;
}


nav{
  a{
    margin: 0 1rem;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
  .active{
    text-decoration: underline;
  }
}
